    <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-repeat="todo in todos | orderBy: 'completed' " ng-init="todo.completed = false">
      <input type="checkbox" ng-model="todo.completed" />
      <span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>
      <label ng-hide="editing" ng-click="editing=true">{{todo.name}}</label>
      <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="todo.name" ng-change="todo.edited = true"/>
      <div class="actions">
        <a href="" ng-click="saveTodos()">Save</a>
        <a href="" class="delete" ng-click="deleteTodo(todo, $index)">Delete</a>
      </div>
    </div>